

/* about me page styling */

#aboutme {position:absolute;
	 height: 75px;
	width: 400px;
	left:40px;
	border-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd; 
	font-family: Georgia;
	color:#4aaaa5
}


.maintext{ position:relative;
margin-top:50px;
margin-left:250px;
margin-right:400px;
width:600px;
height:650px;
 z-index: -1;
 border-width:1px;
 border-style: solid;
 border-color: #dddddd;
}

/* I couldn't figure out how to 
float this properly so that the image and words dont overlap*/

#pMe{position:absolute;
float:left;
top:100px;
}

#aboutmep{position:absolute;
	top:100px;
}

/*portfolio page styling */

#port{position:absolute;
	height: 75px;
	width: 400px;
	left:40px;
	border-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd; 
	font-family: Georgia;
	color:#4aaaa5;
}

.portbody{position:relative;
	margin-top:75px;
margin-left:200px;
margin-right:350px;
padding:500px, 1000px, 500px, 1000px;
height:600px;
width:600px;
z-index: -1;
border-width:1px;
 border-style: solid;
 border-color: #dddddd;
}

#p1{position:absolute;
	left:0px;
	top:120px;
}

#p2{position:absolute;
	right:0px;
	top:120px;
}

#p3{position:absolute;
	bottom:0px;

}

#p4{position:absolute;
	bottom:0px;
right:0px;
}

/* contact page styling */


.contactbox{position:absolute;
	height: 75px;
	width: 400px;
	left:40px;
	border-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
}

#contact{position: absolute;
	
margin-top: 30px; 
	font-family: Georgia;
	color:#4aaaa5;
}

.userinfo{position:relative;
margin-right: 300px;
margin-left: 200px;
margin-top: 50px;
border-width:1px;
 border-style: solid;
 border-color: #dddddd;
 width:500px;
 height:800px;
}

.userinfo2{position: absolute;
	top:100px;
left:80px;}

/* styling across pages */

.connectcontainer{position:relative;
float:right;
width:275px;
height:175px;
border-width:1px;
 border-style: solid;
 border-color: #dddddd;
margin-right:50px;
margin-top: 100px;
}

.connect3{position:absolute;
	left:25px;
	top:10px;
	font-family: Georgia;
	color:#4aaaa5;
}

.container-fluid{position:absolute;
	margin-left:100px;
	height:15%;
}

.header{position:absolute;
	height:55px;
	width:275px;
	margin-left:50px;
	top:3px;
	background-color: #4aaaa5;
	font-size: 32px;
	font-family:Georgia;
	text-align: center;
}

.headtext{color:#FFFFFF;
}
.headerlist{position:absolute;
	top:9px;
	right:0px;
    list-style-type: none;
  
    
}

.headerlink{
    float:left;
    display: block;
    padding: 14px;
}

.mainheadercontainer{
position:relative;
height:61px;
width:1100px;
border-width:3px;
 border-bottom-style: solid;
 border-color: #dddddd;
}

/*also couldn't figure out how to get my background to work*/
body {
    background-image:url(/assets/images/pink_rice.png);
}
